.welcome-container {
  background-image: url("/images/bg-login.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px;
  z-index: 2;
  position: relative;
}
.welcome-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
